.portal {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    background: url('/assets/wavepattern.svg');
}


.logo {
    position: absolute;
    left: 25vw;
    right: 25vw;
    top: 25vh;
    bottom: 25vh;
    img {
        object-fit: contain;
        width: 50vw;
        height: 50vh; 
        object-position: 50% 50%;
    }
}

.whoami {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    font-size: 1.25vh;
    color: #555;
    text-align: right;
}