<div class="eventschedule">
    <div class="logo"><img src="/assets/logo-worldfandom.png"></div>
    <div class="roomlabel">{{label}}</div>
    <div class="roomname">FOO {{name}}</div>
    <div class="schedule">
      <ul>
        <li *ngFor="let event of (schedule$ | scheduleLabel:label)" [ngClass]="{highlight: event.highlight=='yes'}">
          <div class="time">{{ event.start | date:'shortTime' }} - {{ event.end | date:'shortTime' }}</div>
          <div class="name">{{ event.name }}</div>
          <div class="summary">{{ event.summary }}</div>
        </li>
      </ul>
    </div>
    <div class="whoami">
      <div class="identity">id: {{ id | slice:-4}}</div>
      <div class="version">version: {{ version }}</div>
      <div class="lastupdatetime">{{ lastUpdateTime }}</div>
      <div class="badgecounts">{{ allow.size }} / {{ revoke.size }}</div>
      <div class="nfcdevice">NFC Reader: {{ (nfcDevice ? nfcDevice.productId : 'none') }}</div>
    </div>
    <div class="toasts">
      <div class="toast" *ngFor="let toast of toasts" [ngClass]="{allow: toast.type=='allow',revoke: toast.type=='revoke',unknown: toast.type=='unknown'}">
        <div class="title"></div>
        <div class="description"></div>
      </div>
    </div>
  </div>