$red: #BD3A3F;
$green: #73A744;
$blue: #302A4C;
$purple: #4E1F4C;
$black: #181527;
$turquoise: #25BDB5 ;
$pink: #EE5987;
$maroon: #562030;


div.eventschedule {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    font-family: sans-serif;

    background: url('/assets/signbits-bg-oldmap.jpg');
    background-size: cover;
    background-color: #969696;
    background-blend-mode: screen;

    .logo {
        position: absolute;
        left: 3vw;
        width: 45vw;
        top: 1vh;
        height: 17vh;
        img {
            object-fit: contain;
            width: 45vw;
            height: 17vh; 
            object-position: 50% 50%;
        }
    }

    .roomlabel {
        position: absolute;
        left: 51vw;
        right: 1vw;
        top: 0;
        height: 18vh;
        width: 48vw;
        font-size: 15vh;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

    .roomname {
        position: absolute;
        left: 51vw;
        top: 15vh;
        width: 48vw;
        height: 3vh;
        text-align: center;
        font-size: 2.5vh;
        font-weight: bold;
        margin: 0;
    }

    .schedule {
        position: absolute;
        left: 0;
        top: 20vh;
        height: 90vh;
        width: 100vw;
        font-size: 3vh;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                margin-bottom: 0.2em;
                margin-left: 1em;
                margin-right: 1em;

                .time {
                }
                .name {
                    font-weight: bold;
                }
                .summary {
                    font-size: 1.5vh;
                    margin-bottom: 1em;
                }
            }

        }
    }

    .whoami {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0.5em;
        font-size: 1.25vh;
        color: #555;
        text-align: right;
    }

    .toasts {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        .toast {
            border: 1px solid black;
            border-radius: 5px;
            height: 0px;
            width: 60vw;
            font-size: 1.5vh;
            margin: 0.25vh;
            padding: 1vh;
            float: right;
            position: relative;
            top: 2000px;
            transition: all 0.5s ease-out;
        }

        %toast-show {
            top: 0;
            height: 8vh;
        }

        .toast .title {
            font-size: 3vh;
        }

        .toast.allow {
            @extend %toast-show;
            background-color: #04af24;

            .title:after {
                content: 'Ahoy, Matey!';
            }

            .description:after {
                content: 'Your pirate identification has been accepted.';
            }
        }

        .toast.revoke {
            @extend %toast-show;
            background-color: #e10310;

            .title:after {
                content: 'Walk the plank!';
            }

            .description:after {
                content: 'You are known to us, but not welcome aboard at this time.  Is your badge a one day badge for a different day?  Please check with Badge Support or HQ (for staff).';
            }
        }

        .toast.unknown {
            @extend %toast-show;
            background-color: #f1c42b;

            .title:after {
                content: 'Avast Ye!';
            }

            .description:after {
                content: 'Your pirate identification is unknown to us!  Is your badge from a prior year or a different event?';
            }
        }
    }

}